{% extends 'base.html.twig' %}

{% block title %}Tutoriels Vidéos Résonance{% endblock %}

{% block body %}


<div class="content-body remarged-body-h">
    <h1>Tutoriels vidéos Résonance</h1>

    Afin de mieux apréhender le système wordpress, vous avez accès à nos vidéos explicatives sur l'utilisation du système wordpress et du composant "Visual Composer" permettant une mise en page sans code :

    {% if is_granted('ROLE_USER') and CurrentUser.active == 1 %}
           
      <h3> Basique </h3>
      <ol>
         {% for tutorial in tutorialsBasique %}
          <li><a href='{{ path("show_tutoriel", {"slug": tutorial.slug}) }}'>{{ tutorial.title }}</a></li>
         {% endfor %}
      </ol>

         <h3> Avancé </h3>
        <ol>
         {% for tutorial in tutorialsAdvanced %}
          <li><a href='{{ path("show_tutoriel", {"slug": tutorial.slug}) }}'>{{ tutorial.title }}</a></li>
         {% endfor %}
      </ol>

      <p> Vous pouvez également <a target="_blank" href="{{ asset('files/ModedeEmploi_Wordpress.pdf') }}">télécharger notre guide au format PDF</a> pour l'utilisation de Wordpress </p>
    {% else %}
      <p>Vous possédez un compte Tutoriel Résonance ? <a href='{{path("app_login")}}'>Connectez-vous !</a> .<br /><br />
       Vous ne possédez pas de compte et vous souhaitez avoir un accès aux vidéos ?<br /> Contactez nous par téléphone au : 04 68 76 00 31</p>
    {% endif %}
    
</div>
{% endblock %}
